body {
  font-family: 'DM Sans', sans-serif;
}
ul{
  list-style: none;
  padding-left: 0;
}
ul li a{
text-decoration: none;
}

/* banner css */
.hero-text h6{
  font-size: 15px;
    letter-spacing: 1.8px;
    font-weight: 400;
    margin-bottom: 5px;
}
.hero-text p{
  font-weight: 400;
  margin-bottom: 35px;
}
.hero {
     background: #FDEBDF;
    padding: 50px 0;
    position: relative;
}
.hero::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 400px;
  background: rgba(207, 83, 6, 0.28);
  bottom: 0;
  right: 0;
  border-radius: 450px 0 0 0;
}

.banner-text h1{
      font-size: 56px;
    line-height: 67px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* .hero .swiper-pagination{
  bottom: 24px !important;
} */
.btn-orange img {
    margin-left: 8px;
}


.banner-text p{
  font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
}
/* banner bottom start */
.banner_btm{
  padding: 70px 0;
}
.ing-txt h5{

    font-size: 20px;
    line-height: 20px;
    color: #000;
    margin-bottom: 12px;
}

.ing-txt p{
font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: #6E6E6E;
    margin-bottom: 0;
}

.ing-img{
margin-right: 15px;
}
.ing-card{
 display: flex;
    align-items: center;
}
/* Active bullet — ring + dot style */
.hero .swiper-pagination-bullet-active {
 position: relative !important;
 background: #141414 !important;
}
.hero .swiper-pagination-bullet-active::after{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 50%;
 left: -4px;
    top: -4px;
}
.hero .swiper-pagination{
  bottom: 35px !important;
}
.hero .swiper-pagination-bullet{
  height: 10px !important;
  width: 10px !important;
}
.hero .swiper-pagination-bullet{
  margin: 0 6px !important;
}
.mini-hdr h4 {
    font-size: 35px;
    font-weight: 700;
    color: #000;
    line-height: 35px;
    margin-bottom: 13px;
    font-family: 'Urbanist';
}
.mini-hdr p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0;

}
.mini-hdr{
  margin-bottom: 50px;
}
.category-sec .mini-hdr{
  text-align: center;
}
.deals-sec .swiper-pagination-bullet-active {
  background-color: #141414 !important;
}
.deals-sec .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
}

/* mini ban start */
.mini-ban-text{
  height: 100%;
  padding: 25px 110px 0px 24px;
}
.mini-offer-sec{
 background: #AD4405;
 position: relative;
}
.mini-offer-sec::after{
  position: absolute;
  content: "";
  background: url(./assets/images/mini-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  width: 50%;
  top: 0;
}
.mini-ban-text p{
      font-family: 'DM Sans';
    font-size: 18px;
    color: #fff;
        margin-bottom: 0;
        font-weight: 300;
       
}
.tc-text{
  text-align: right;
        font-size: 14px !important;
    font-family: urbanist !important;
    margin-top: 15px;
}
.mini-ban-text h2{
      font-weight: 600;
    color: #fff;
    font-size: 45px;
    display: inline-block;
    border-bottom: 1px solid;
    margin: 5px 0 12px;
}
.min-content-wrap{
  display: flex
;
    align-items: center;
    gap: 10px;
}
.min-content-wrap p span{
font-weight: 500;
    background: #fff;
    color: #AD4405;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    letter-spacing: 1px;
    display: inline-block;
}
.mini-ban-btn{
  padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
     margin-top: 10px;
}
.mini-ban-btn:hover{
  background: #000;
  border: 1px solid #000;
}
.mini-left{
  width: 50%;
}
.mini-right{
  width: 50%;
}
.mini-img img{
  width: 100%;
}
/* mini ban end */

/* latest product */
.latest-sec {
    background:transparent !important;
    padding: 80px 0 !important;
}

/* review sec start */
.rvw-sec{
      background: #FDF4EE;
    padding: 70px 0;
    position: relative;
}
.review-left-img img{
      position: absolute;
    top: 0;
    left: 110px;
}
.review-right-img img{
      position: absolute;
    bottom: 0;
    right: 110px;
}

.rvw-sec .mini-hdr{
  margin-bottom: 50px;
}
.rvw-sec .stars{
  margin-bottom: 30px;
}
.testimonial-text{
      font-size: 19px;
    line-height: 27px;
    padding: 17px 10px;
    margin-bottom: 0;
}
.testimonial-card h6{
      font-size: 22px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 22px;
}
.testimonial-card {
  padding-bottom: 60px; /* Ensure space for the dots */
}

.swiper-pagination-bullet{
  height: 12px !important;
    width: 12px !important;
}
.swiper-pagination-bullet-active {
  background: #1a1a1a !important;
}
.rvw-sec .mini-hdr{
  text-align: center;
}


/* review sec end*/

/* blog start */
.blog-img img{
width: 100%;
border-radius: 5px;
}
.blog-img{
  margin-bottom: 20px;
}
.blog-badge{
      padding: 8px 10px;
    background: #FDF4EE;
    border-radius: 2px;
    font-size: 16px;
    color: #cf5306;
    font-weight: 600;
}
.blog-card a{
  margin: 15px 0;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}
.author-content h6{
        font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.viewall-btn span{
      font-weight: 500;
}
.best-row{
  align-items: center;
}
.blog-row{
  margin-top: 50px;
}
.blog-sec{
  padding: 70px 0;
}
.author-content span{
      font-size: 14px;
    color: #676767;
    font-weight: 500;
}
.card-body a:hover{
color: #cf5306;;
}
/* blog end */


